.parent {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: end;
}
.sidebar {
  width: 17%;
  height: 411px;
  border: 1px solid red;
}
.listOfClasses {
  width: 80%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px 0;
  flex-wrap: wrap;
}
