.parent {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .left {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .middle {
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;

      letter-spacing: -0.015em;

      color: #9497a1;
      cursor: pointer;
      position: relative;

      a {
        color: #9497a1;
      }
      span {
        width: 0;
        height: 0;
        display: none;
      }

      .hovered {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 54px;
        left: 0;
        // width: 130px;
        // padding: ;
        width: 150px;
        height: 150px;
        background-color: #fff;
        z-index: 10;
        transition: all 0.6s ease;
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        padding: 18px 0;

        .item {
          width: 150px;
          height: 33px;
          display: flex;
          align-items: center;
        }
        .circle {
          width: 5px;
          height: 5px;
          background-color: #016f92;
          border-radius: 50%;
          margin: 0 8px;
        }
      }
    }
  }
  .right {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      width: 88px;
      height: 35px;
      background: #009fad;
      border-radius: 6px;
      border: none;
      color: #fff;
    }
  }
}
