.parent {
  width: 100%;
  height: auto;
  margin: 45px 0;

  div {
    display: flex;
    justify-content: space-between;
    .title {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;

      color: #000000;
    }
    .numberOfClassess {
      font-family: "Noto Sans KR";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;

      color: #000000;
    }
  }

  .underline {
    border: 1px solid #e0eaf5;
  }

  .list {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    li {
      width: 100%;
      padding: 6px;
      display: flex;
      align-items: center;

      input[type="radio"] {
        margin-right: 13px;
        appearance: none;
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 6px;
        background-clip: content-box;
        border: 1px solid #000000;
        border-radius: 50%;
      }
      input[type="radio"]:checked {
        border: 5px solid #000000;
      }
      label {
        font-family: "Noto Sans KR";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        color: #000000;
      }
    }
  }
}
